body{
    background-color: blue;
    text-align: center;
    
}
span{
    font-size: 30px;
}
.cl{
    display: flex;
    justify-content:space-evenly;
    justify-items: baseline;
    align-items:last baseline ;
    
    
    
}
.cl1{
    text-align: center;
}
.cl2{
    border: 2px solid white;
    color:blue;
    background-color: aliceblue;
    padding: 30px;
    width:300px;
    height: 300px;
    border-radius: 5px;
}
.cl3{
    border: 2px solid white;
    color:blue;
    background-color: aliceblue;
    padding: 30px;
    width:300px;
    height:335px;
    border-radius: 5px;
    
}
.cl4{
    border: 2px solid white;
    color:blue;
    background-color: aliceblue;
    padding: 30px;
    width:300px;
    height: 300px;
    border-radius: 5px;
}
button{
    background-color: blue;
    color: white;

}
button a{
    text-decoration: none;
    color: white;
}

h3{
    color: gold;
}
.head{
    background-color: lightcoral;
    margin-top: 0;
    
}
h1{
    color: white;
}